// Define variables for your color scheme


$dark-blue: #272D3D;
$yellow: #DFC244;
$gray: #C4C4C4;
$light-gray: #E4E6ED;
$black: #1c1b1b;
$red: #FD1015;
$blue: #167FFB;
$orange: #E67E22;
$green: #1EDD88;
$white: #FFFFFF;


