

<!--   FOOTER START================== -->

    <footer class="footer">
    <div class="container">
        <div class="row">
        <div class="col-sm-3">
            <a class="navbar-brand logo-nav" id="brand-in-footer" href="/">FRA.Me</a>
            <ul class="social-icon">
            <a href="#" class="social"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-google" aria-hidden="true"></i></a>
            <a href="#" class="social"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
            </ul>
            <p id="small-text">© 2019. Privacy - Terms</p>
            </div>
        <div class="col-sm-3">
            <h2 class="title">My Account</h2>
            <span class="acount-icon">
            <a href="/dashboard"><i class="fa fa-heart mr-" id="heart-footer" aria-hidden="true"></i> Wish List</a>
            <a href="/carts/<%=Cart.where(user_id: current_user.id).where(state: "pending").first.id%>"><i class="fa fa-cart-plus" aria-hidden="true"></i> Cart</a>
            <a href="/dashboard"><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
            <a href="#"><i class="fa fa-globe" aria-hidden="true"></i> Language</a>
          </span>
            </div>
        <div class="col-sm-3">
            <h2 class="title">Popular categories</h2>
            <div class="category">
            <a href="/photos?utf8=✓&query=travel">travel</a>
            <a href="/photos?utf8=✓&query=forest">forest</a>
            <a href="/photos?utf8=✓&query=summer">summer</a>
            <a href="/photos?utf8=✓&query=yoga">yoga</a>
            <a href="/photos?utf8=✓&query=smile">smile</a>
            <a href="/photos?utf8=✓&query=people">people</a>
            <a href="/photos?utf8=✓&query=love">love</a>
            <a href="/photos?utf8=✓&query=street">street</a>
            <a href="/photos?utf8=✓&query=mountain">mountain</a>
            <a href="/photos?utf8=✓&query=night">night</a>
            <a href="/photos?utf8=✓&query=paint">paint</a>
            <a href="/photos?utf8=✓&query=art">art</a>
            </div>
            </div>
        <div class="col-sm-3">
            <h2 class="title">Payment Methods</h2>

            <ul class="payment">
            <li><a href="https://www.americanexpress.com/"><i class="fa fa-cc-amex" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i></a></li>
            <li><a href="http://paypal.com/"><i class="fa fa-paypal" aria-hidden="true"></i></a></li>
            <li><a href="https://www.visa.com"><i class="fa fa-cc-visa" aria-hidden="true"></i></a></li>
            </ul>
            </div>
        </div>
        <hr>
        </div>


    </footer>

