<div class="container-banner" style="background-image: linear-gradient(rgba(0,0,0, -0.5),rgba(0,0,0,0.3)), url(https://lepigalle.paris/wp-content/gallery/home/midcentury-double-room-decor-le-pigalle-hotel-paris.jpg);">

  <div class="white-flex">
    <h1 id="banner-title"> WE FRAME FINE ART PHOTOGRAPHIES.</h1>
    <button class="btn-blue">Find your style</button>
  </div>

</div>

<div class="this-is-flex">
    <div class="small-paragraph">
      <p class="big-number">1</p>
      <h2>Choose your photography</h2>
      <p>Art is a matter of vibe: you have your own style, your uniq way of being you. Explore our uniq collection, you will find inspiration on the way.</p>
    </div>

    <div class="small-paragraph">
      <p class="big-number">2</p>
      <h2>Choose your frame</h2>
      <p>When it comes to design, the frame is as important as the photography itself. Our frames are made with high quality materials,  each product is a piece of art.</p>
    </div>

    <div class="small-paragraph">
      <p class="big-number">3</p>
      <h2>We frame and send it</h2>
      <p>You found the perfect combo? Just click, and we will deliver your creation under a few days.</p>
    </div>

</div>
