<div class="container-banner" style="background-image: linear-gradient(rgba(0,0,0, -0.5),rgba(0,0,0,0.3)), url(<%= image_path('background_home.png') %>);">

  <div class="white-flex">
    <h1 id="banner-title"> WE FRAME FINE ART PHOTOGRAPHIES.</h1>
    <button class="btn-blue">Find your style</button>
  </div>

</div>

<div class="this-is-flex">
    <div class="small-paragraph">
      <p class="big-number">1</p>
      <h2>Choose your photography</h2>
      <p>Art is a matter of vibe: you have your own style, your uniq way of being you. Explore our uniq collection, you will find inspiration on the way.</p>
    </div>

    <div class="small-paragraph">
      <p class="big-number">2</p>
      <h2>Choose your frame</h2>
      <p>When it comes to design, the frame is as important as the photography itself. Our frames are made with high quality materials,  each product is a piece of art.</p>
    </div>

    <div class="small-paragraph">
      <p class="big-number">3</p>
      <h2>We frame and send it</h2>
      <p>You found the perfect combo? Just click, and we will deliver your creation under a few days.</p>
    </div>

</div>

<div class="this-is-flex">
  <div class="large-card" style="background-image: linear-gradient(rgba(0,0,0, -0.5),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1441986380878-c4248f5b8b5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
    <h1>GET INSPIRED</h1>
    <h2>Combine colors, frames for the perfect design</h2>
  </div>

 <div class="large-card" style="background-image: linear-gradient(rgba(0,0,0, -0.5),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1441986380878-c4248f5b8b5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
    <h1>FRAME YOURS, HEY WHY NOT</h1>
    <h2>It's easy, just try </h2>
  </div>


</div>


