<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
<h2>i am a test</h2>
<p>i am a test</p>
</div>


<%= cl_image_tag("jrsz6rllpddtsgopjdtg",
      width: 1300, height: 500) %>
