<body id="body-blue">
  <div class="form-container">

    <div class="container-title">
      <h2>You are also a photographer, right?</h2>
      <p>Frame your photographies and pimp your home</p>
    </div>


    <div class="form-itself pt-2 w-100">
      <%= render 'form', photo: @photo %>
    </div>

    <div class="link-style">
      <p> <%= link_to 'Back to all photos', photos_path %> </p>
    </div>

  </div>
</body>

