//remove the btn
// upload_button.disabled = true

document.querySelector("#upload-button").remove()

document.querySelector(".more-photos").insertAdjacentHTML("beforeend", '<a id="upload-button"class="btn btn-primary w-25" href="/upload_index/<%= @next_query %>" data-remote="true">Search More</a>')
document.querySelector(".grid-photos").insertAdjacentHTML("beforeend", "<%= j render 'photos', photos: @photos %>")
