// CARD HOME PAGE______________________________________________

.this-is-flex-card {
    display: flex;
    margin: 0px 50px;
    padding: 0px 5px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.large-card {

    display: flex;
    padding: 25px;
    min-width: 43vw;
    min-height: 55vh;
    border-radius: 2px;
    margin-bottom: 50px;
    text-align: center;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
}

.align-left {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


.large-card h1 {
  font-size: 24px;
  color: white;
  font-style: medium;
}

.large-card h2 {
  font-size: 16px;
  color: white;
  font-style: medium;
}

// CARD CART PAGE______________________________________________

.flex-card-container {
    display: flex;
    margin: 0px 50px;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    width: 43vw;
    padding: 15px;
    margin: 50px 0px 0px 50px;
    border-radius: 2px;
    justify-content: space-between;
  }

.photo-column-1 {
  width: 15vw;
  img {
    border: 2px solid rgba(196, 196, 196, 0.2);
    padding: 10px;
    box-shadow: 1px 1px 6px rgba(196, 196, 196, 0.2);
    border-radius: 2px;
    margin: 5px;
  }
}

.photo-column-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 25px 15px 30px;
}

.photo-column-3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: unset;
  width: 30px;
  justify-content: flex-start;
  a {
    font-size: 20px;
    color: $yellow;
  }
}

.cart-info {
  font-family: lato;
}

.info-column {
  width: 25vw;
}

#body-background {
  background-color: rgba(223, 194, 68, 0.27);
}

