  .this-is-flex-card {
    display: flex;
    margin: 0px 50px;
    padding: 45px 5px;
    flex-wrap: wrap;
    justify-content: space-between;

  }



.large-card {

    display: flex;
    padding: 35px;
        // attention ne pas toucher le padding, same que les paragraphes
    min-width: 43vw;
    min-height: 100vh;
    border-radius: 2px;
    margin-bottom: 50px;
    text-align: center;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    flex-direction: column;





  // background-size: cover;
  // background-position: top;
  // max-width: 40%;
  // border-radius: 2px;
  // flex-direction: column;
  // display: flex;
  // justify-content: flex-start;
  // height: 300px;
  // width: 80vw;
}

.large-card-item {
    // margin-top: 10px;
    text-align: justify;
    // max-width: 400px;
    // padding: 10px 70px 10px 70px;
}

.large-card h1 {
  font-size: 24px;
  color: white;


}

.large-card h2 {
  font-size: 16px;
  color: white;
}
