  .this-is-flex-card {
    display: flex;
    margin: 0px 50px;
    padding: 0px 5px;
            // attention ne pas toucher le padding, same que les paragraphes
    flex-wrap: wrap;
    justify-content: space-between;
  }

.large-card {

    display: flex;
    padding: 25px;
        // attention ne pas toucher le padding, same que les paragraphes
    min-width: 43vw;
    min-height: 65vh;

    border-radius: 2px;
    margin-bottom: 50px;
    text-align: center;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
}

.align-left {}


.large-card h1 {
  font-size: 24px;
  color: white;
  font-style: medium;
}

.large-card h2 {
  font-size: 16px;
  color: white;
  font-style: medium;
}
