
// .picture-container {
//   height: 400px;
//   width: 700px;
// }

.landscape-container {
  height: 314px;
  width: 550px;
}

.portrait-container {
  height: 400px;
  width: 230px;
}


.picture {
  background-size: cover;
  background-position: center;
}

// .frame {
//   height: 400px;
//   width: 700px;
//   img {
//     height: 400px;
//     width: 700px;
//   }
// }

.landscape-frame {
  height: 314px;
  width: 550px;
  img {
    height: 314px;
    width: 550px;
  }
}

.portrait-frame {
  height: 400px;
  width: 230px;
  img {
    height: 400px;
    width: 230px;
  }
}
