#body-blue {
  background-color: $dark-blue;
}


.form-container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px 50px 20px;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  max-width: 43vw;
  border-radius: 2px;
  }

.form-itself {
  // max-width: 40vw;
  font-family: lato;
  font-size: 15px;
  color: $black;
  justify-content: center;
  display: flex;

  input {
    width: 28vw;
    border-radius: 2px;

  }
}

.container-title {
  align-items: left;
  padding-top: 40px;

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 15px;
    padding-bottom: 10px;
  }
}



.link-style  {
  font-size: 15px;
  color: $dark-blue;
  font-family: lato;
  font-size: 16px;
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-style: normal;
  text-align: center;
  padding-top: 20px;
}
