.container-banner {
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: left;
    align-items: flex-end;
  }

  .this-is-flex {
    display: flex;
    padding: 40px 56px;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  #banner-title {
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
  color: $black;
  margin-bottom: 40px;
  font-style: medium;
  font-weight: 500;
  }

  .white-flex {
    background-color: rgba(255, 255, 255, 0.77);
    padding: 35px;
    min-width: 50vw;
    border-radius: 2px;
    margin-bottom: 50px;
    text-align: center;
  }

   .small-paragraph {
    text-align: justify;
    max-width: 350px;
  }

   .small-paragraph h2 {
    text-align: center;
   }

 .big-number {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    text-align: center;
  }
