// NAVBAR STYLE

 #nav-style {
  align-items: flex-end;
  margin: 0px;
  padding: 0px 30px 10px 30px;
  background-color: white;
  font-family: Quicksand;
  font-style: regular;
  font-size: 16px;
  box-shadow: 0 -5px 3px 5px #f2f4f7;
}


.logo-nav {
  font-family: 'Playfair Display', serif;
  font-size: 38px;
  margin-right: 30px;
}


.nav-link  {
  font-size: 14px;
  padding: 0px;
  padding-right: 15px;
}

.navbar-brand {
  padding: 0px;
}

.dropdown-btn  {
  border: none;
  background-color: transparent;
}

#corrector {
  margin: 0px;
  border-bottom: none;
  display: block;
}

.front-dropdown-content a {
  padding: 0px 16px;
  margin-top: 1px;
}
