
// STYLE FOR PHOTOS

.grid-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

@media(max-width: 992px) {
  .grid-photos {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .grid-photos {
    grid-template-columns: 1fr;
  }
}


//This allow us to add a heart for the Favorite purpose
// Position relative allow the heart to be on the pic (pic is relative)
.photo-container {
  position: relative;
  /* background-size: cover; */
  /* background-position: center; */
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
  }
}

//This is the heart icon for favorite purpose
// Position absolute allow the heart to be on the pic (heart is absolute)
.fa-heart{
  color: #ffe8e8;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer
}

// toggle to sort out the photos
.display {
  display: none;
}

// STYLE FOR UPLOAD YOUR OWN PHOTO

.uploadphoto {
  background-color: white;
  color: $black;
  padding: 6px;
  padding-bottom: 5px;
  font-size: 13px;
  font-family: $body-font;
  border: none;
}

.uploadphoto a:hover {
  text-decoration: none;
}

// DROPDOWN MENUS

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: $black;
  padding: 6px;
  padding-bottom: 2px;
  border: none;
  // border-bottom: 1px solid $black;
  padding-top: 0;
  padding-bottom: 2px;
}

.dropdown-container {
  display: flex;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid $black;
  margin-right: 15px;
  a {
    text-decoration: none;
  }
  p {
    margin-bottom: 0px;
    padding-bottom: 2px;
  }
}
.dropdown p {
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: $yellow;}

.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 25px;
  margin-bottom: 2px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

// BUTTONS INSIDE THE DROPDOWN MENUS

.btn-desactivated {
  font-family: $body-font;
  font-size: 12px;
  color: $black;
  margin: 0px;
  cursor: pointer;
}

.btn-activated {
  font-family: $body-font;
  font-size: 12px;
  color: $yellow;
  margin: 0px;
  cursor: pointer;
}


