
.this-is-flex-div {
  display: -webkit-box;
  display: flex;
  margin: 0px 0px;
  padding: 50px 5px 50px 5px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: calc(100vh - 67px);
  align-items: center;
  }

.photoshow {
  object-fit: contain;
  max-width: 44vw;
  max-height: 65vh;
}

.large-photo {
  min-width: 50vw;
  display: flex;
  justify-content: center;
}



.large-bloc {
  display: flex;
  min-width: 38vw;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}


#left-left {
  display: flex;
  flex-direction: column;
  width: 18vw;
  padding: 5px 5px;
}

.colum-left {
  display: flex;
  flex-direction: row;
  max-width: 40vw;

  text-align: justify;
  justify-content: space-between;
}

#left-right {
  display: flex;
  flex-direction: column;
  // max-width: 19vw;
  text-align: justify;
  justify-content: space-around;
}


#bottom-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 40vw;
}

.simple_form.new_product {
  display: flex;
  flex-direction: column;
  select {
    margin: 20px;
  }
}

.simple_form.edit_product {
  display: flex;
  flex-direction: column;
  select {
    margin: 20px;
  }
}

#priceBox {
  text-align: right;
  padding-right: 7px;
}



