#search-form {
 input{
  background-color: white;
  border: none;
  border-bottom: 1px solid $light-gray;
  font-size: 14px;
  font-family: lato;
  &:focus{
    box-shadow: none;
  }
 }
}

#fa-fa-fix {
  border-bottom: 1px solid $light-gray;
  display: flex;
  align-items: center;
  color: $light-gray;
}


.search-input {
  margin-bottom: 7px;
}

