body h1 {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: $black;
}

body h2 {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: $black;
}

body h3 {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: $yellow;
}

body p {
  font-family: $body-font;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: $black;
}

